<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2> If you tell me your name, I can say hi!</h2>
    <form action= method="post">
      <input type=text name="user_name"/>
      <input type=submit name="submit"/>
    </form>
  </body>
</html>
